@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --main-color: #303633;
    --color-dark:#1D2231;
    --text-grey: #8390A2;
    --bcolor-green : #00A6A6;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.sidebar{
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    /* z-index: 100; */
}

.sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 2rem;
    color: #fff;
}

.sidebar-brand span{
    display: inline-block;
    padding-left: 1rem;
    padding-left: 2rem;
}

.sidebar-menu{
    margin-top: 1rem ;
}

.sidebar-menu li{
    width: 100%;
    margin-bottom: 1rem;
}

.sidebar-menu a{
    padding-left: 1rem;
    display: block ;
    color:#fff;
    font-size: 1.1rem;
}
.sidebar-menu a.active{
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px ;
}

.sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}

.main-content{
    margin-left: 250px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px  rgba(0,0,0,0.2);
    position: fixed;
    left: 250px;
    width: calc(100% - 250px);
    top: 0;
    z-index: 100;
}

.container{
    
    margin-left: 320px;
       
}

.cards{
    margin-left: 250px;
}

header h2{
    color:#222;
}

header label span{
    font-size: 1.7rem;
    padding-right: 1rem ;
}

.search-wrapper{
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span{
    display: inline-block ;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}
.search-wrapper input{
    height: 100%;
    padding: 5.rem;
    border: none;
    outline: none;
}

.user-wrapper{
    display: flex;
    align-items: center;
}

.user-wrapper img{
    border-radius: 50%;
    margin-right:  1rem;
}

.user-wrapper h4{
    margin-bottom: 0rem !important;
}
.user-wrapper small{
    display: inline-block;
    color: var(--text-grey);
}

main{
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-width: calc(100vh - 90px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem; 
    margin-top: 1rem;
}

.card-single{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px ;
}

.card-single div:last-child span{
    font-size: 3rem;
    color: var(--main-color);
}

.card-single div:first-child span{
    color: var(--text-grey);
}


.card-single:last-child{
    background: var(--bcolor-green);
}

.card-single:last-child h3,
.card-single:last-child div:first-child span
.card-single:last-child div:last-child span{
    color: #fff;  
}

